# Capstone Project - Car accident severity

# 1st Week

### Tasks
1) Clearly define a problem or an idea of your choice. Remember that data science problems always target an audience and are meant to help a group of stakeholders solve a problem, so make sure that you explicitly describe your audience and why they would care about your problem.
This submission will eventually become your Introduction/Business Problem section in your final report. So I recommend that you push the report (having your Introduction/Business Problem section only for now) to your Github repository and submit a link to it.

2) Describe the data that you will be using to solve the problem or execute your idea. So make sure that you provide adequate explanation and discussion, with examples, of the data that you will be using.
This submission will eventually become your Data section in your final report. So I recommend that you push the report (having your Data section) to your Github repository and submit a link to it.

____

# Introduction / Business Problem


This data allows us to build a model for predicting whether the car crash participants (car drivers or pedestrians) require increased amount of medical care or not. The data covers Seatle, WA. The primary focus of the model is to prioritize help for different points of the city for better balance of injury and help amount. The more injury - more help.

For example, the Seattle Police department has limited number of helicopters for the medical purposes and prosecution of criminals. And in the case of simultaneously happening crashes, the model could possibly help to choose the way of dealing with the problems, predicting the amount of damage in all cases.
_____        
We already have the collected incident data. We need to understand and describe the data.
Next, we need to understand which part of all the data we will use.
_____
        
To do this, we need to build a model that can determine the need for a medical helicopter in an accident. It's a Discrete value.
Since we have a Classification problem. I chose the Decision Trees model.

___

## Data Source
 
 #### Description
 
 https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf
 
 #### Data
 
 https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

____

# Data Description

## Downloading and Reading Data

In [1]:
import pandas as pd
import numpy as np 
path = "https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv"
df = pd.read_csv(path)
df.head(2)

/Users/artyomkolas/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N

## Data Understanding

In [2]:
df.shape

(194673, 38)

In [3]:
df[-1:]

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
194672,1,-122.28936,47.611017,219547,308220,309500,E868008,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N

In [4]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [5]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [6]:
df.describe(include = 'all')

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673,194673,192747,65070.000000,...,189661,189503,4667,1.149360e+05,9333,194655,189769,194673.000000,1.946730e+05,194673
unique,NaN,NaN,NaN,NaN,NaN,NaN,194670,2,3,NaN,...,9,9,1,NaN,1,115,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,1780512,Matched,Block,NaN,...,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,NaN,2,189786,126926,NaN,...,124510,116137,4667,NaN,9333,27612,44421,NaN,NaN,187457
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,NaN,NaN,NaN,37558.450576,...,NaN,NaN,NaN,7.972521e+06,NaN,NaN,NaN,269.401114,9.782452e+03,NaN
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,NaN,NaN,NaN,51745.990273,...,NaN,NaN,NaN,2.553533e+06,NaN,NaN,NaN,3315.776055,7.226926e+04,NaN
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,...,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,NaN,NaN,NaN,28667.000000,...,NaN,NaN,NaN,6.040015e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,NaN,NaN,NaN,29973.000000,...,NaN,NaN,NaN,8.023022e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,NaN,NaN,NaN,33973.000000,...,NaN,NaN,NaN,1.015501e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,NaN,NaN,NaN,757580.000000,...,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

In [7]:
df.info

<bound method DataFrame.info of         SEVERITYCODE           X          Y  OBJECTID  INCKEY  COLDETKEY  \
0                  2 -122.323148  47.703140         1    1307       1307
1                  1 -122.347294  47.647172         2   52200      52200
2                  1 -122.334540  47.607871         3   26700      26700
3                  1 -122.334803  47.604803         4    1144       1144
4                  2 -122.306426  47.545739         5   17700      17700
...              ...         ...        ...       ...     ...        ...
194668             2 -122.290826  47.565408    219543  309534     310814
194669             1 -122.344526  47.690924    219544  309085     310365
194670             2 -122.306689  47.683047    219545  311280     312640
194671             2 -122.355317  47.678734    219546  309514     310794
194672             1 -122.289360  47.611017    219547  308220     309500

       REPORTNO   STATUS      ADDRTYPE   INTKEY  ... ROADCOND  \
0       3502005  Matched  Intersection  37475.0  ...      Wet
1       2607959  Matched         Block      NaN  ...      Wet
2       1482393  Matched         Block      NaN  ...      Dry
3       3503937  Matched         Block      NaN  ...      Dry
4       1807429  Matched  Intersection  34387.0  ...      Wet
...         ...      ...           ...      ...  ...      ...
194668  E871089  Matched         Block      NaN  ...      Dry
194669  E876731  Matched         Block      NaN  ...      Wet
194670  3809984  Matched  Intersection  24760.0  ...      Dry
194671  3810083  Matched  Intersection  24349.0  ...      Dry
194672  E868008  Matched         Block      NaN  ...      Wet

                      LIGHTCOND PEDROWNOTGRNT  SDOTCOLNUM SPEEDING ST_COLCODE  \
0                      Daylight           NaN         NaN      NaN         10
1       Dark - Street Lights On           NaN   6354039.0      NaN         11
2                      Daylight           NaN   4323031.0      NaN         32
3                      Daylight           NaN         NaN      NaN         23
4                      Daylight           NaN   4028032.0      NaN         10
...                         ...           ...         ...      ...        ...
194668                 Daylight           NaN         NaN      NaN         24
194669                 Daylight           NaN         NaN      NaN         13
194670                 Daylight           NaN         NaN      NaN         28
194671                     Dusk           NaN         NaN      NaN          5
194672                 Daylight           NaN         NaN      NaN         14

                                               ST_COLDESC  SEGLANEKEY  \
0                                       Entering at angle           0
1       From same direction - both going straight - bo...           0
2                                  One parked--one moving           0
3                        From same direction - all others           0
4                                       Entering at angle           0
...                                                   ...         ...
194668    From opposite direction - both moving - head-on           0
194669  From same direction - both going straight - bo...           0
194670  From opposite direction - one left turn - one ...           0
194671                       Vehicle Strikes Pedalcyclist        4308
194672  From same direction - both going straight - on...           0

        CROSSWALKKEY  HITPARKEDCAR
0                  0             N
1                  0             N
2                  0             N
3                  0             N
4                  0             N
...              ...           ...
194668             0             N
194669             0             N
194670             0             N
194671             0             N
194672             0             N

[194673 rows x 38 columns]>

In [8]:
df.replace("?", np.nan, inplace = True)
df.head(2)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N

In [9]:
missing_data = df.isnull() # True - null data (NaN, 0)
missing_data.head(2)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,True,False,True,False,False,False,False,False

In [10]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

SEVERITYCODE
False    194673
Name: SEVERITYCODE, dtype: int64

X
False    189339
True       5334
Name: X, dtype: int64

Y
False    189339
True       5334
Name: Y, dtype: int64

OBJECTID
False    194673
Name: OBJECTID, dtype: int64

INCKEY
False    194673
Name: INCKEY, dtype: int64

COLDETKEY
False    194673
Name: COLDETKEY, dtype: int64

REPORTNO
False    194673
Name: REPORTNO, dtype: int64

STATUS
False    194673
Name: STATUS, dtype: int64

ADDRTYPE
False    192747
True       1926
Name: ADDRTYPE, dtype: int64

INTKEY
True     129603
False     65070
Name: INTKEY, dtype: int64

LOCATION
False    191996
True       2677
Name: LOCATION, dtype: int64

EXCEPTRSNCODE
True     109862
False     84811
Name: EXCEPTRSNCODE, dtype: int64

EXCEPTRSNDESC
True     189035
False      5638
Name: EXCEPTRSNDESC, dtype: int64

SEVERITYCODE.1
False    194673
Name: SEVERITYCODE.1, dtype: int64

SEVERITYDESC
False    194673
Name: SEVERITYDESC, dtype: int64

COLLISIONTYPE
False    189769
True       4904
Name: COLLISIONTYPE, dtype: int64

PERSONCOUNT
False    194673
Name: PERSONCOUNT, dtype: int64

PEDCOUNT
False    194673
Name: PEDCOUNT, dtype: int64

PEDCYLCOUNT
False    194673
Name: PEDCYLCOUNT, dtype: int64

VEHCOUNT
False    194673
Name: VEHCOUNT, dtype: int64

INCDATE
False    194673
Name: INCDATE, dtype: int64

INCDTTM
False    194673
Name: INCDTTM, dtype: int64

JUNCTIONTYPE
False    188344
True       6329
Name: JUNCTIONTYPE, dtype: int64

SDOT_COLCODE
False    194673
Name: SDOT_COLCODE, dtype: int64

SDOT_COLDESC
False    194673
Name: SDOT_COLDESC, dtype: int64

INATTENTIONIND
True     164868
False     29805
Name: INATTENTIONIND, dtype: int64

UNDERINFL
False    189789
True       4884
Name: UNDERINFL, dtype: int64

WEATHER
False    189592
True       5081
Name: WEATHER, dtype: int64

ROADCOND
False    189661
True       5012
Name: ROADCOND, dtype: int64

LIGHTCOND
False    189503
True       5170
Name: LIGHTCOND, dtype: int64

PEDROWNOTGRNT
True     190006
False      4667
Name: PEDROWNOTGRNT, dtype: int64

SDOTCOLNUM
False    114936
True      79737
Name: SDOTCOLNUM, dtype: int64

SPEEDING
True     185340
False      9333
Name: SPEEDING, dtype: int64

ST_COLCODE
False    194655
True         18
Name: ST_COLCODE, dtype: int64

ST_COLDESC
False    189769
True       4904
Name: ST_COLDESC, dtype: int64

SEGLANEKEY
False    194673
Name: SEGLANEKEY, dtype: int64

CROSSWALKKEY
False    194673
Name: CROSSWALKKEY, dtype: int64

HITPARKEDCAR
False    194673
Name: HITPARKEDCAR, dtype: int64

In [11]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

## Data Understanding and Pre-Processing



<h3 id="deal_missing_values">Deal with missing data</h3>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

In [12]:
# df['SEVERITYCODE'].value_counts(dropna=False) #   A code that corresponds to the severity of the collision:
#                                               #   1—property damage
#                                               #   2—injury
#                                               #   _____ target is below ____ duplicate data

In [13]:
df['X'].value_counts(dropna=False)           # X Coordinate - Useful data
                                             #      - Useful data

 NaN           5334
-122.332653     265
-122.344896     254
-122.328079     252
-122.344997     239
               ...
-122.328299       1
-122.296699       1
-122.273686       1
-122.288670       1
-122.322090       1
Name: X, Length: 23564, dtype: int64

In [14]:
# simply drop whole row with NaN in column
df.dropna(subset=['X'], axis=0, inplace=True)
# reset index, because we droped some rows
df.reset_index(drop=True, inplace=True)

df['X'].value_counts(dropna=False)

-122.332653    265
-122.344896    254
-122.328079    252
-122.344997    239
-122.299160    231
              ...
-122.322768      1
-122.288680      1
-122.405699      1
-122.323578      1
-122.343898      1
Name: X, Length: 23563, dtype: int64

In [15]:
df['Y'].value_counts(dropna=False)           # Y Coordinate - Useful data
                                             #      - Useful data

47.708655    265
47.717173    254
47.604161    252
47.725036    239
47.579673    231
            ...
47.556705      1
47.709101      1
47.513899      1
47.565438      1
47.563521      1
Name: Y, Length: 23839, dtype: int64

In [16]:
# df['OBJECTID'].value_counts(dropna=False)  #     ESRI unique identifier
#                                            #     - Useless data (probably)

In [17]:
# df['INCKEY'].value_counts(dropna=False) #  A unique key for the incident
#                                         #  - Useless data (probably)

In [18]:
# df['COLDETKEY'].value_counts(dropna=False) #   Secondary key for the incident
#                                            #   - Useless data (probably)

In [19]:
# df['REPORTNO'].value_counts(dropna=False) #    Report number
#                                           #    Useless data (probably)

In [20]:
df['STATUS'].value_counts(dropna=False) #       No description
                                        #      - Useful data

Matched      184601
Unmatched      4738
Name: STATUS, dtype: int64

### We could use LabelEncoder to categorize values. But I chose to do it step by step.

In [21]:
df['STATUS'].replace(to_replace="Matched", value=1, inplace=True)
df['STATUS'].replace(to_replace="Unmatched", value=0, inplace=True)

df['STATUS'] = df['STATUS'].astype("int")

df['STATUS'].value_counts(dropna=False)

1    184601
0      4738
Name: STATUS, dtype: int64

In [22]:
df['ADDRTYPE'].value_counts(dropna=False) #      Collision address type:
                                                    # • Alley
                                                    # • Block
                                                    # • Intersection
            
                                          #      - Useful data

Block           124591
Intersection     64748
Name: ADDRTYPE, dtype: int64

In [23]:
df['ADDRTYPE'].replace(to_replace="Block", value=0, inplace=True)
df['ADDRTYPE'].replace(to_replace="Intersection", value=1, inplace=True)

df['ADDRTYPE'] = df['ADDRTYPE'].astype("int")

df['ADDRTYPE'].value_counts(dropna=False)

0    124591
1     64748
Name: ADDRTYPE, dtype: int64

In [24]:
df['INTKEY'].value_counts(dropna=False) #       Key that corresponds to the intersection associated with a collision

                                        #       We can draw the attention of Seattle authorities to problem intersections
                                        #       - Useful data

NaN        124591
29973.0       252
29933.0       160
29913.0       138
29549.0       136
            ...
31144.0         1
36782.0         1
36781.0         1
26580.0         1
31226.0         1
Name: INTKEY, Length: 7516, dtype: int64

In [25]:
df['INTKEY'].replace(np.nan, 0, inplace=True)

df[['INTKEY']] = df[['INTKEY']].astype("int")

df['INTKEY'].value_counts(dropna=False)

0         124591
29973        252
29933        160
29913        138
29549        136
           ...
28103          1
337518         1
24257          1
25025          1
26356          1
Name: INTKEY, Length: 7516, dtype: int64

In [26]:
# df['LOCATION'].value_counts(dropna=False) #       Description of the general location of the collision

#                                           #       We can draw the attention of Seattle authorities to problem locations
#                                           #       - Useless data(we already have coordinates)

In [27]:
# df['EXCEPTRSNCODE'].value_counts(dropna=False)  #      No description
#                                                 #      (duplicate data of below column)
    
#                                                 #      - Useless data (duplicate data of ['EXCEPTRSNDESC'])

In [28]:
# df['EXCEPTRSNDESC'].value_counts(dropna=False) #       No description

#                                                #       - Useless data

In [29]:
# df['SEVERITYCODE.1'].value_counts(dropna=False) #  A code that corresponds to the severity of the collision:
#                                                 #  1—prop damage
#                                                 #  2—injury
         
#                                                 #  Useless data (duplicate data of our target)

In [30]:
df['SEVERITYDESC'].value_counts(dropna=False) #    A detailed description of the severity of the collision
                                              #    We will choose this feature as the target in our research.    ___ !!! ___

Property Damage Only Collision    132221
Injury Collision                   57118
Name: SEVERITYDESC, dtype: int64

In [31]:
df['SEVERITYDESC'] = df['SEVERITYDESC'].astype("category")

df['SEVERITYDESC'].value_counts(dropna=False)

Property Damage Only Collision    132221
Injury Collision                   57118
Name: SEVERITYDESC, dtype: int64

In [32]:
df['COLLISIONTYPE'].value_counts(dropna=False) #     Collision type
                                               #     We can draw the attention of Seattle authorities to problem parked car
                                               #      - Useful data

Parked Car    46381
Angles        34460
Rear Ended    32968
Other         22277
Sideswipe     18034
Left Turn     13624
Pedestrian     6551
Cycles         5378
NaN            4757
Right Turn     2912
Head On        1997
Name: COLLISIONTYPE, dtype: int64

In [33]:
df['COLLISIONTYPE'].replace(np.nan, "Other", inplace=True)

# We could use LabelEncoder to categorize values. But I chose to do it step by step.
df['COLLISIONTYPE'].replace(to_replace="Parked Car", value=0, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Angles",     value=1, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Rear Ended", value=2, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Other",      value=3, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Sideswipe",  value=4, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Left Turn",  value=5, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Pedestrian", value=6, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Cycles",     value=7, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Right Turn", value=8, inplace=True)
df['COLLISIONTYPE'].replace(to_replace="Head On",    value=9, inplace=True)

df['COLLISIONTYPE'] = df['COLLISIONTYPE'].astype("int")

df['COLLISIONTYPE'].value_counts(dropna=False)

0    46381
1    34460
2    32968
3    27034
4    18034
5    13624
6     6551
7     5378
8     2912
9     1997
Name: COLLISIONTYPE, dtype: int64

In [34]:
df['PERSONCOUNT'].value_counts(dropna=False) #    The total number of people involved in the collision
                                             #     - Useful data

2     110986
3      34964
4      14435
1      12191
5       6473
0       5442
6       2659
7       1101
8        523
9        208
10       128
11        54
12        32
13        21
14        17
15        11
17        11
16         7
18         6
44         6
19         5
20         5
25         5
26         4
22         4
27         3
28         3
29         3
47         3
32         3
34         3
37         3
23         2
21         2
24         2
30         2
36         2
57         1
31         1
35         1
39         1
41         1
43         1
48         1
53         1
54         1
81         1
Name: PERSONCOUNT, dtype: int64

In [35]:
df['PEDCOUNT'].value_counts(dropna=False) # The number of pedestrians involved in the collision. This is entered by the state.
                                          #  - Useful data

0    182460
1      6626
2       225
3        22
4         4
6         1
5         1
Name: PEDCOUNT, dtype: int64

In [36]:
df['PEDCYLCOUNT'].value_counts(dropna=False) #  The number of bicycles involved in the collision. This is entered by the state.
                                             #   - Useful data

0    183892
1      5404
2        43
Name: PEDCYLCOUNT, dtype: int64

In [37]:
df['VEHCOUNT'].value_counts(dropna=False) #   The number of vehicles involved in the collision. This is entered by the state.
                                          #    - Useful data

2     143994
1      24557
3      12731
0       4937
4       2381
5        520
6        145
7         42
8         15
9          9
11         5
10         2
12         1
Name: VEHCOUNT, dtype: int64

In [38]:
# df['INCDATE'].value_counts(dropna=False) #  - It's very interesting data, but I have to skip it for now.

In [39]:
# df['INCDTTM'].value_counts(dropna=False) #  - It's very interesting data, but I have to skip it for now.

In [40]:
df['JUNCTIONTYPE'].value_counts(dropna=False)  #    Category of junction at which collision took place.
                                               #    - Useful data

Mid-Block (not related to intersection)              87390
At Intersection (intersection related)               62491
Mid-Block (but intersection related)                 22465
Driveway Junction                                    10580
NaN                                                   4193
At Intersection (but not related to intersection)     2071
Ramp Junction                                          143
Unknown                                                  6
Name: JUNCTIONTYPE, dtype: int64

In [41]:
df['JUNCTIONTYPE'].replace(np.nan, "Unknown", inplace=True)

df['JUNCTIONTYPE'].replace(to_replace="Mid-Block (not related to intersection)",value=0, inplace=True)
df['JUNCTIONTYPE'].replace(to_replace="At Intersection (intersection related)", value=1, inplace=True)
df['JUNCTIONTYPE'].replace(to_replace="Mid-Block (but intersection related)",   value=2, inplace=True)
df['JUNCTIONTYPE'].replace(to_replace="Driveway Junction",                      value=3, inplace=True)
df['JUNCTIONTYPE'].replace(to_replace="Unknown",                                value=4, inplace=True)
df['JUNCTIONTYPE'].replace(to_replace="Ramp Junction",                          value=5, inplace=True)
df['JUNCTIONTYPE'].replace(to_replace="At Intersection (but not related to intersection)",value=6, inplace=True)

df[['JUNCTIONTYPE']] = df[['JUNCTIONTYPE']].astype("int")

df['JUNCTIONTYPE'].value_counts(dropna=False)

0    87390
1    62491
2    22465
3    10580
4     4199
6     2071
5      143
Name: JUNCTIONTYPE, dtype: int64

In [42]:
df['SDOT_COLCODE'].value_counts(dropna=False)  #  - Useful data

11    84538
14    53213
16     9780
28     8631
0      7401
24     6485
13     5780
26     4102
18     3091
15     1597
12     1422
51     1305
29      463
21      181
56      178
27      165
54      137
23      122
48      106
25      102
31      102
34       91
64       75
69       69
33       53
55       50
66       23
22       16
32       12
53        9
44        8
61        7
35        6
58        5
68        4
36        4
46        3
52        2
47        1
Name: SDOT_COLCODE, dtype: int64

In [43]:
# df['SDOT_COLDESC'].value_counts(dropna=False) #   -   Useless data (duplicate data)

In [44]:
df['INATTENTIONIND'].value_counts(dropna=False) # Whether or not collision was due to inattention. (Y/N)
                                                # - Useful data

NaN    160163
Y       29176
Name: INATTENTIONIND, dtype: int64

In [45]:
df['INATTENTIONIND'].replace(np.nan, 0, inplace=True)
df['INATTENTIONIND'].replace(to_replace="Y", value=1, inplace=True)

df[['INATTENTIONIND']] = df[['INATTENTIONIND']].astype("int")

df['INATTENTIONIND'].value_counts(dropna=False)

0    160163
1     29176
Name: INATTENTIONIND, dtype: int64

In [46]:
df['UNDERINFL'].value_counts(dropna=False)   # - Useful data (Not description)

N      97639
0      78082
Y       5002
NaN     4737
1       3879
Name: UNDERINFL, dtype: int64

In [47]:
df['UNDERINFL'].replace(np.nan, "Unknown", inplace=True)

df['UNDERINFL'].replace(to_replace="Unknown",  value=4, inplace=True)
df['UNDERINFL'].replace(to_replace="N",        value=3, inplace=True)
df['UNDERINFL'].replace(to_replace="Y",        value=2, inplace=True)

df[['UNDERINFL']] = df[['UNDERINFL']].astype("int")

df['UNDERINFL'].value_counts(dropna=False)

3    97639
0    78082
2     5002
4     4737
1     3879
Name: UNDERINFL, dtype: int64

In [48]:
df['WEATHER'].value_counts(dropna=False)     # A description of the weather conditions during the time of the collision.
                                             # - Useful data

Clear                       108959
Raining                      32015
Overcast                     27136
Unknown                      13893
NaN                           4925
Snowing                        894
Other                          773
Fog/Smog/Smoke                 553
Sleet/Hail/Freezing Rain       112
Blowing Sand/Dirt               50
Severe Crosswind                24
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [49]:
df['WEATHER'].replace(np.nan, "Unknown", inplace=True)
df['WEATHER'].replace(to_replace="Other", value="Unknown", inplace=True) 

df['WEATHER'].replace(to_replace="Clear",                    value=0, inplace=True)
df['WEATHER'].replace(to_replace="Raining",                  value=1, inplace=True)
df['WEATHER'].replace(to_replace="Overcast",                 value=2, inplace=True)
df['WEATHER'].replace(to_replace="Unknown",                  value=3, inplace=True)
df['WEATHER'].replace(to_replace="Snowing",                  value=4, inplace=True)
df['WEATHER'].replace(to_replace="Fog/Smog/Smoke",           value=5, inplace=True)
df['WEATHER'].replace(to_replace="Sleet/Hail/Freezing Rain", value=6, inplace=True)
df['WEATHER'].replace(to_replace="Blowing Sand/Dirt",        value=7, inplace=True)
df['WEATHER'].replace(to_replace="Severe Crosswind",         value=8, inplace=True)
df['WEATHER'].replace(to_replace="Partly Cloudy",            value=9, inplace=True)


df[['WEATHER']] = df[['WEATHER']].astype("int")

df['WEATHER'].value_counts(dropna=False)

0    108959
1     32015
2     27136
3     19591
4       894
5       553
6       112
7        50
8        24
9         5
Name: WEATHER, dtype: int64

In [50]:
df['ROADCOND'].value_counts(dropna=False)    # The condition of the road during the collision.
                                             # - Useful data

Dry               122076
Wet                46064
Unknown            13839
NaN                 4858
Ice                 1177
Snow/Slush           989
Other                117
Standing Water       102
Sand/Mud/Dirt         64
Oil                   53
Name: ROADCOND, dtype: int64

In [51]:
df['ROADCOND'].replace(np.nan, "Unknown", inplace=True)
df['ROADCOND'].replace(to_replace="Other", value="Unknown", inplace=True)

df['ROADCOND'].replace(to_replace="Dry",            value=0, inplace=True)
df['ROADCOND'].replace(to_replace="Wet",            value=1, inplace=True)
df['ROADCOND'].replace(to_replace="Unknown",        value=2, inplace=True)
df['ROADCOND'].replace(to_replace="Ice",            value=3, inplace=True)
df['ROADCOND'].replace(to_replace="Snow/Slush",     value=4, inplace=True)
df['ROADCOND'].replace(to_replace="Standing Water", value=5, inplace=True)
df['ROADCOND'].replace(to_replace="Sand/Mud/Dirt",  value=6, inplace=True)
df['ROADCOND'].replace(to_replace="Oil",            value=7, inplace=True)


df[['ROADCOND']] = df[['ROADCOND']].astype("int")

df['ROADCOND'].value_counts(dropna=False)

0    122076
1     46064
2     18814
3      1177
4       989
5       102
6        64
7        53
Name: ROADCOND, dtype: int64

In [52]:
df['LIGHTCOND'].value_counts(dropna=False)   # The light conditions during the collision.
                                             # - Useful data

Daylight                    113582
Dark - Street Lights On      47314
Unknown                      12432
Dusk                          5775
NaN                           5012
Dawn                          2422
Dark - No Street Lights       1451
Dark - Street Lights Off      1152
Other                          188
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [53]:
df['LIGHTCOND'].replace(np.nan, "Unknown", inplace=True)
df['LIGHTCOND'].replace(to_replace="Other", value="Unknown", inplace=True) 

df['LIGHTCOND'].replace(to_replace="Daylight",                 value=0, inplace=True)
df['LIGHTCOND'].replace(to_replace="Dark - Street Lights On",  value=1, inplace=True)
df['LIGHTCOND'].replace(to_replace="Unknown",                  value=2, inplace=True)
df['LIGHTCOND'].replace(to_replace="Dusk",                     value=3, inplace=True)
df['LIGHTCOND'].replace(to_replace="Dawn",                     value=4, inplace=True)
df['LIGHTCOND'].replace(to_replace="Dark - No Street Lights",  value=5, inplace=True)
df['LIGHTCOND'].replace(to_replace="Dark - Street Lights Off", value=6, inplace=True)
df['LIGHTCOND'].replace(to_replace="Dark - Unknown Lighting",  value=7, inplace=True)

df[['LIGHTCOND']] = df[['LIGHTCOND']].astype("int")

df['LIGHTCOND'].value_counts(dropna=False)

0    113582
1     47314
2     17632
3      5775
4      2422
5      1451
6      1152
7        11
Name: LIGHTCOND, dtype: int64

In [54]:
df['PEDROWNOTGRNT'].value_counts(dropna=False) #  Whether or not the pedestrian right of way was not granted. (Y/N)
                                               # - Useful data

NaN    184694
Y        4645
Name: PEDROWNOTGRNT, dtype: int64

In [55]:
df['PEDROWNOTGRNT'].replace(np.nan, 0, inplace=True)
df['PEDROWNOTGRNT'].replace(to_replace="Y", value=1, inplace=True) 

df[['PEDROWNOTGRNT']] = df[['PEDROWNOTGRNT']].astype("int")

df['PEDROWNOTGRNT'].value_counts(dropna=False)

0    184694
1      4645
Name: PEDROWNOTGRNT, dtype: int64

In [56]:
# df['SDOTCOLNUM'].value_counts(dropna=False) #   A number given to the collision by SDOT.
#                                             #   - Useless data

In [57]:
df['SPEEDING'].value_counts(dropna=False) #  Whether or not speeding was a factor in the collision. (Y/N)
                                          #  - Useful data

NaN    180619
Y        8720
Name: SPEEDING, dtype: int64

In [58]:
df['SPEEDING'].replace(np.nan, 0, inplace=True)
df['SPEEDING'].replace(to_replace="Y", value=1, inplace=True) 

df[['SPEEDING']] = df[['SPEEDING']].astype("int")

df['SPEEDING'].value_counts(dropna=False)

0    180619
1      8720
Name: SPEEDING, dtype: int64

In [59]:
# df['ST_COLCODE'].value_counts(dropna=False) #  - Useless data

In [60]:
# df['ST_COLDESC'].value_counts(dropna=False) #    - Useless data (duplicate data of 'ST_COLCODE')

In [61]:
df['SEGLANEKEY'].value_counts(dropna=False) #       A key for the lane segment in which the collision occurred.
                                            #       Ключ участка полосы движения, на котором произошло столкновение.
    
                                            #       We can draw the attention of Seattle authorities to the lane segment
        
                                            #       - Useful data

0        186583
6532         19
6078         16
12162        15
10336        14
          ...
35157         1
10817         1
15043         1
19064         1
16376         1
Name: SEGLANEKEY, Length: 1950, dtype: int64

In [62]:
df['CROSSWALKKEY'].value_counts(dropna=False) #        A key for the crosswalk at which the collision occurred.
                                              #        Ключ от пешеходного перехода, на котором произошло столкновение.
                                              #        - Useful data

0         185536
523609        17
520838        15
525567        13
521707        10
           ...
619243         1
521019         1
630862         1
25545          1
522560         1
Name: CROSSWALKKEY, Length: 2194, dtype: int64

In [63]:
df['HITPARKEDCAR'].value_counts(dropna=False) #  Whether or not the collision involved hitting a parked car. (Y/N)
                                              #  Независимо от того, произошло ли столкновение с припаркованной машиной. (Да / Нет)
                                              #  - Useful data

N    182334
Y      7005
Name: HITPARKEDCAR, dtype: int64

In [64]:
df['HITPARKEDCAR'].replace(to_replace="N", value=0, inplace=True)
df['HITPARKEDCAR'].replace(to_replace="Y", value=1, inplace=True) 

df[['HITPARKEDCAR']] = df[['HITPARKEDCAR']].astype("int")

df['HITPARKEDCAR'].value_counts(dropna=False)

0    182334
1      7005
Name: HITPARKEDCAR, dtype: int64

> 'SEVERITYCODE' - Useless data (duplicate data of our target)  
> 'X' - Useful data  
> 'Y' - Useful data  
> 'OBJECTID' - Useless data  
> 'INCKEY' - Useless data  
> 'COLDETKEY' - Useless data  
> 'REPORTNO' - Useless data  
> 'STATUS' - Useful data  
> 'ADDRTYPE' - Useful data  
> 'INTKEY' - Useful data  
> 'LOCATION' - - Useless data(we already have coordinates)  
> 'EXCEPTRSNCODE' - Useless data  
> 'EXCEPTRSNDESC' - Useless data   
> 'SEVERITYCODE.1' - Useless data  
> 'SEVERITYDESC' -  We can choose this feature as the target in our research  
> 'COLLISIONTYPE' - Useful data  
> 'PERSONCOUNT' - Useful data  
> 'PEDCOUNT' - Useful data  
> 'PEDCYLCOUNT' - Useful data  
> 'VEHCOUNT' - Useful data  
> 'INCDATE' - It's very interesting data, but I have to skip it for now.  
> 'INCDTTM' - It's very interesting data, but I have to skip it for now.  
> 'JUNCTIONTYPE' - Useful data  
> 'SDOT_COLCODE' - Useful data  
> 'SDOT_COLDESC' - Useless data (duplicate data of 'SDOT_COLCODE')  
> 'INATTENTIONIND' - Useful data  
> 'UNDERINFL' - Useful data  
> 'WEATHER'  - Useful data  
> 'ROADCOND' - Useful data  
> 'LIGHTCOND' - Useful data  
> 'PEDROWNOTGRNT' - Useful data  
> 'SDOTCOLNUM' - Useless data  
> 'SPEEDING' - Useful data  
> 'ST_COLCODE' - Useful data  
> 'ST_COLDESC' - Useless data (duplicate data of 'ST_COLCODE')  
> 'SEGLANEKEY' - Useful data  
> 'CROSSWALKKEY' - Useful data  
> 'HITPARKEDCAR' - Useful data

## Container with useful features

In [65]:
#['X', 'Y', 'STATUS',
# 'ADDRTYPE', 'INTKEY',
# 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
# 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT',
# 'JUNCTIONTYPE', 'SDOT_COLCODE', 'INATTENTIONIND', 
# 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
# 'PEDROWNOTGRNT', 'SPEEDING',
# 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR']

_______

# Check Useful Features


We need to determine the usefulness of each of the features.


Next, we will take only those data that really matter. And apply it in the second part (2nd week) of the project.

### Get Useful Data

In [66]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [67]:
useful_df = df[['X', 'Y', 'STATUS',
                'ADDRTYPE', 'INTKEY',
                'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
                'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT',
                'JUNCTIONTYPE', 'SDOT_COLCODE', 'INATTENTIONIND', 
                'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
                'PEDROWNOTGRNT', 'SPEEDING',
                'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR']]

In [68]:
useful_df.columns

Index(['X', 'Y', 'STATUS', 'ADDRTYPE', 'INTKEY', 'SEVERITYDESC',
       'COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT',
       'JUNCTIONTYPE', 'SDOT_COLCODE', 'INATTENTIONIND', 'UNDERINFL',
       'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT', 'SPEEDING',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [69]:
useful_df.dtypes

X                  float64
Y                  float64
STATUS               int64
ADDRTYPE             int64
INTKEY               int64
SEVERITYDESC      category
COLLISIONTYPE        int64
PERSONCOUNT          int64
PEDCOUNT             int64
PEDCYLCOUNT          int64
VEHCOUNT             int64
JUNCTIONTYPE         int64
SDOT_COLCODE         int64
INATTENTIONIND       int64
UNDERINFL            int64
WEATHER              int64
ROADCOND             int64
LIGHTCOND            int64
PEDROWNOTGRNT        int64
SPEEDING             int64
SEGLANEKEY           int64
CROSSWALKKEY         int64
HITPARKEDCAR         int64
dtype: object

Using <b>useful_df</b> we declare the following variables: <br>

<ul>
    <li> <b> X </b> as the <b> Feature Matrix </b> (data of useful_df without 'SEVERITYDESC') </li>
    <li> <b> y </b> as the <b> response vector (target = 'SEVERITYDESC') </b> </li>
</ul>

In [70]:
X = df[['X', 'Y', 'STATUS',
        'ADDRTYPE', 'INTKEY',
        'COLLISIONTYPE', 'PERSONCOUNT',
        'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT',
        'JUNCTIONTYPE', 'SDOT_COLCODE', 'INATTENTIONIND', 
        'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
        'PEDROWNOTGRNT', 'SPEEDING',
        'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR']]

X[0:2]

,X,Y,STATUS,ADDRTYPE,INTKEY,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,...,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.323148,47.703140,1,1,37475,1,2,0,0,2,...,0,3,2,1,0,0,0,0,0,0
1,-122.347294,47.647172,1,0,0,4,2,0,0,2,...,0,0,1,1,1,0,0,0,0,0

Now we can fill the target variable.

In [71]:
y = useful_df['SEVERITYDESC']
y[0:2]

0                  Injury Collision
1    Property Damage Only Collision
Name: SEVERITYDESC, dtype: category
Categories (2, object): [Injury Collision, Property Damage Only Collision]

## Setting Up the Decision Tree
    
We will be using <b>train/test split</b> on our <b>decision tree</b>. Let's import <b>train_test_split</b> from <b>sklearn.cross_validation</b>.

In [72]:
from sklearn.model_selection import train_test_split

Now <b> train_test_split </b> will return 4 different parameters. We will name them:<br>
X_trainset, X_testset, y_trainset, y_testset <br> <br>
The <b> train_test_split </b> will need the parameters: <br>
X, y, test_size=0.3, and random_state=3. <br> <br>
The <b>X</b> and <b>y</b> are the arrays required before the split, the <b>test_size</b> represents the ratio of the testing dataset, and the <b>random_state</b> ensures that we obtain the same splits.

In [73]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.1, random_state=3)

## Check

In [74]:
X_trainset.shape

(170405, 22)

In [75]:
y_trainset.shape

(170405,)

In [76]:
X_testset.shape

(18934, 22)

In [77]:
y_testset.shape

(18934,)

## Test Modeling for Understanding of Importance of Features
We will first create an instance of the <b>DecisionTreeClassifier</b> called <b>injuryTree</b>.<br>

In [78]:
from sklearn.tree import DecisionTreeClassifier
injuryTree = DecisionTreeClassifier(criterion="entropy")
injuryTree

DecisionTreeClassifier(criterion='entropy')

Next, we will fit the data with the training feature matrix X_trainset and training response vector y_trainset

In [79]:
injuryTree.fit(X_trainset,y_trainset)

DecisionTreeClassifier(criterion='entropy')

## Prediction
Let's make some <b>predictions</b> on the testing dataset and store it into a variable called <b>predTree</b>.

In [80]:
predTree = injuryTree.predict(X_testset)

We can print out <b>predTree</b> and <b>y_testset</b> if we want to visually compare the prediction to the actual values.

In [81]:
print (predTree [0:5])
print (y_testset [0:5])

['Property Damage Only Collision' 'Injury Collision'
 'Property Damage Only Collision' 'Property Damage Only Collision'
 'Property Damage Only Collision']
28113     Property Damage Only Collision
88403                   Injury Collision
54310     Property Damage Only Collision
178131    Property Damage Only Collision
1054                    Injury Collision
Name: SEVERITYDESC, dtype: category
Categories (2, object): [Injury Collision, Property Damage Only Collision]

## Evaluation
Next, let's check the accuracy of our model.

In [82]:
from sklearn import metrics
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.6851695362839336

**Accuracy classification score** computes subset accuracy: the set of labels predicted for a sample must exactly match the corresponding set of labels in y_true.  

In multilabel classification, the function returns the subset accuracy. If the entire set of predicted labels for a sample strictly match with the true set of labels, then the subset accuracy is 1.0; otherwise it is 0.0.

## Importance of Features

Let's analyze the importance of features.

In [83]:
np.set_printoptions(suppress=True)

importance = pd.Series(injuryTree.feature_importances_, index=X.columns)

sorted_importance = importance.sort_values(ascending=False)

for name, value in zip(X.columns, sorted_importance):
    print(name, value)
    print('')

X 0.2166596907153147

Y 0.21515196961572874

STATUS 0.19670472424092067

ADDRTYPE 0.06906962769319182

INTKEY 0.048370878625452904

COLLISIONTYPE 0.04469369412640103

PERSONCOUNT 0.04259465203017665

PEDCOUNT 0.03806391372303209

PEDCYLCOUNT 0.02782818879104894

VEHCOUNT 0.02580783004830608

JUNCTIONTYPE 0.025116353370689508

SDOT_COLCODE 0.019020280391256906

INATTENTIONIND 0.010543532526662399

UNDERINFL 0.00772808196500919

WEATHER 0.0038006505391659463

ROADCOND 0.0021627536523197988

LIGHTCOND 0.0020278028158244566

PEDROWNOTGRNT 0.0018885748324416367

SPEEDING 0.0017468010100824133

SEGLANEKEY 0.0006786240946898147

CROSSWALKKEY 0.0001897092518362214

HITPARKEDCAR 0.00015166594044805176

## Save Useful DataFrame

We can save <b>useful_df</b> to <b>useful_df_car_accident_severity.csv</b> for 2nd Week Capstone Project.

In [84]:
import os
path = os.path.expanduser("~/Documents/useful_df_car_accident_severity.csv")
useful_df.to_csv (path)

# Thanks for attention